__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/

.git/
.gitignore

.pytest_cache/
.mypy_cache/

.ipynb_checkpoints/

# Dokumen laporan & IDE
*.docx
*.tmp
.vscode/
.idea/

# Environment & generated configs
.env
nginx/init.conf

# Certbot data & webroot
certbot-data/
certbot-www/

# Streamlit local cache
.streamlit/cache/
