# Konfigurasi Domain & SSL
DOMAIN=fayyadh.rizain.wiweka.jovandra.cloud
WWW_DOMAIN=www.fayyadh.rizain.wiweka.jovandra.cloud
EMAIL=admin@fayyadh.rizain.wiweka.jovandra.cloud

# Set ke 1 untuk mode staging Let's Encrypt (hindari rate limit saat testing)
STAGING=0
